@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.menulist.show {
    right: 0;
}

.menuicon.show .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.menuicon.show .bar:nth-child(2) {
    display: none;
}

.menuicon.show .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

@font-face {
    font-family:'KonexyPersonalUse' ;
    src: url('../dist/fonts/KonexyPersonalUse.otf');
}
@font-face {
    font-family: 'Gilroy';
    src: url('../dist/fonts/Gilroy-Light.ttf');
}



